@import "tailwindcss";
@source "./index.html" "./src/**/*.{js,jsx,ts,tsx}";

:root, html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  background-color: #f8ede6;
}
